*.url
*.pdf
*.webp
*.jpg
*.png
*.xcf
*.tif

*.avi
*.zip
*.rar

*.stl
*.3mf
*.photon
*.blend
*.lyt
*.lys
*.scene
*.SLDPRT
*.step
*.mg  # Meshroom

Thumbs.db
.DS_Store

0013*/
**/MeshroomCache/*
**/.venv*/
